body{
        background-color:#f4f6f9;
        text-align:center;
    }
    h2{
        margin-top:20px;
    }
    .container{
        margin:20px;
    }
    input{
        padding:8PX;
        Width:200px;
    }
    button {
        padding:8px 12px;
        margin:5px;
        cursor:pointer;
    }
    table{
        margin:auto;
        border-collapse:collapse;
        width:60%;
        background:white;
    }
    th,td{
        background-color:#007bff;
        color:white;
    }
    
    
    
    
    
